{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        cljsjs/react {:mvn/version "16.4.1-0"}
        cljsjs/react-dom {:mvn/version "16.4.1-0"}
        cljsjs/create-react-class {:mvn/version "15.6.3-1"}}

 :paths ["src" "target"]

 :aliases {:fig {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.1.4"}}}

           :cider {:extra-deps {com.cemerick/piggieback {:mvn/version "0.2.2"
                                                         :exclusions  [com.google.javascript/closure-compiler]}

                                cider/cider-nrepl       {:mvn/version "0.18.0-SNAPSHOT"}
                                org.clojure/tools.nrepl {:mvn/version "0.2.13"}
                                refactor-nrepl          {:mvn/version "2.4.0-SNAPSHOT"}}

                   :extra-paths ["dev"]}}}

